<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.EventRegistrationApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Checkpoint">
        <activity android:name="com.example.EventRegistrationApp.UserActivity.Notification"></activity>
        <activity android:name="com.example.EventRegistrationApp.AdminActivity.Admin_AllRegistrations" />
        <activity android:name="com.example.EventRegistrationApp.UserActivity.DisplayRegistrations" />
        <activity android:name="com.example.EventRegistrationApp.UserActivity.PoojaRegister" />
        <activity android:name="com.example.EventRegistrationApp.UserActivity.ShowActivityUser" />
        <activity android:name="com.example.EventRegistrationApp.AdapterClasses.MyAdapterUser" />
        <activity android:name="com.example.EventRegistrationApp.UserActivity.User" />
        <activity android:name="com.example.EventRegistrationApp.AdapterClasses.MyAdapter" />
        <activity android:name="com.example.EventRegistrationApp.AdminActivity.ShowActivity" />
        <activity android:name="com.example.EventRegistrationApp.AdminActivity.AddPooja" />
        <activity android:name="com.example.EventRegistrationApp.LoginCreateAccount.Register" />
        <activity android:name="com.example.EventRegistrationApp.AdminActivity.Admin" />
        <activity android:name="com.example.EventRegistrationApp.LoginCreateAccount.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_80Jeicr0dG4uXD" />
    </application>

</manifest>